doctype html
html(lang="en")
    head
        //meta(charset="UTF-8")
        //meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        //https://autoprefixer-github-io.translate.goog/?_x_tr_sl=en&_x_tr_tl=es&_x_tr_hl=es&_x_tr_pto=sc
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // <link rel="stylesheet" href="css/estilos.css">
        include _styleDc3
    body
        .container
.container-secundario
    // HEADER
    .logoHeader
        .logo1
            img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Logo_de_la_UAEMex.svg/1200px-Logo_de_la_UAEMex.svg.png' alt='')
        .logo2
            img(src='https://1000marcas.net/wp-content/uploads/2020/11/Pemex-Logo.png' alt='')
    .container-title
        h3.title-principal
            | Formato dc-3
            br
            |  constancia de competencias o de habilidades 
            br
            | laborales
    // FIN DE HEADER
    // DATOS DEL TRABAJADOR
    .container-trabajador
        h4.title-trabajador Datos del trabajador
        .nombre
            p Nombre (Anotar apellido paterno, apellido materno y nombre (s))
        .datos-nombre
            h4 Contreras Torres Javier Antonio
        .section
            .curp
                p Clave &Uacute;nica de Registro de Poblaci&oacute;n
            .ocupacion
                p Ocupaci&oacute;n espec&iacute;fica (Cat&aacute;logo Nacional de Ocupaciones)
        .section2
            .datos-curp
                .dato
                    h4 c
                .dato
                    h4 o
                .dato
                    h4 t
                .dato
                    h4 j
                .dato
                    h4 8
                .dato
                    h4 5
                .dato
                    h4 0
                .dato
                    h4 1
                .dato
                    h4 0
                .dato
                    h4 9
                .dato
                    h4 h
                .dato
                    h4 t
                .dato
                    h4 c
                .dato
                    h4 n
                .dato
                    h4 r
                .dato
                    h4 v
                .dato
                    h4 0
                .ultimo-dato.dato
                    h4 4
            .datos-ocupacion
                h4 2.1 exploraci&oacute;n
        .puesto
            p Puesto*
        .datos-puesto
            h4 Desarrollador web
    // FIN DATOS DEL TRABAJADOR
    // DATOS DE LA EMPRESA
    .container-empresa
        h4.title-empresa Datos de la empresa
        .razon-social
            p
                | Nombre o raz&oacute;n social (En caso de persona f&iacute;sica, anotar apellido paterno, apellido materno y nombre(s))
        .datos-razon-social
            h4 Mayacaste Oil &amp; Gas S.A.P.I. de C.V.
        .shcp
            p Registro Federal de Contribuyentes con homoclave (SHCP)
        .datos-shcp
            .dato-shcp
                h4
            .dato-shcp
                h4 M
            .dato-shcp
                h4 O
            .dato-shcp
                h4 A
            .dato-shcp
                h4 .
            .dato-shcp
                h4 1
            .dato-shcp
                h4 6
            .dato-shcp
                h4 0
            .dato-shcp
                h4 1
            .dato-shcp
                h4 2
            .dato-shcp
                h4 7
            .dato-shcp
                h4 .
            .dato-shcp
                h4 9
            .dato-shcp
                h4 3
            .ultimo-dato-shcp.dato-shcp
                h4 0
    // FIN DATOS DE LA EMPRESA
    // DATOS DEL PROGRAMA DE CAPACITACIÓN
    .container-capacitacion
        h4.title-capacitacion Datos del programa de capacitaci&oacute;n, adiestramiento y productividad
        .nombre-curso
            p Nombre del curso
        .dato-curso
            p
                | Cumplimiento Regulatorio en el Sector de Hidrocarburos 
                span (perforaci&oacute;n de pozos)
        .section3
            .horas
                .duracion
                    p Duraci&oacute;n en horas
                .dato-duracion
                    h4 10
            .periodo
                p Periodo de ejecuci&oacute;n: De
            .fecha1
                .title-fecha1
                    .title
                        p A&ntilde;o
                    .title
                        p Mes
                    .title
                        p D&iacute;a
                .campos-fecha
                    .dato-anio
                        .dato
                            h4 2
                        .dato
                            h4 0
                        .dato
                            h4 2
                        .dato
                            h4 2
                    .dato-mes
                        .dato
                            h4 0
                        .dato
                            h4 6
                    .dato-dia
                        .dato
                            h4 1
                        .dato
                            h4 5
            .separacion
                p a
            .fecha1
                .title-fecha1
                    .title
                        p A&ntilde;o
                    .title
                        p Mes
                    .title
                        p D&iacute;a
                .campos-fecha
                    .dato-anio
                        .dato
                            h4 2
                        .dato
                            h4 0
                        .dato
                            h4 2
                        .dato
                            h4 2
                    .dato-mes
                        .dato
                            h4 0
                        .dato
                            h4 6
                    .dato-dia
                        .dato
                            h4 1
                        .dato
                            h4 5
        .tematica-curso
            .tematica
                p &Aacute;rea tem&aacute;tica del curso
            .dato-tematica
                h4 Ambientales
        .capacitador
            .agente
                p Nombre del agente capacitador o STPS
            .dato-agente
                h4
                    span Salvador de Anda Rosas
                    |  (Registro n&uacute;mero 
                    span AARS-901224-LY4-0005)
        // FIN DATOS DEL PROGRAMA DE CAPACITACIÓN
        // SECCION DE FIRMAS
        .firmas
            .info
                p
                    | Los datos se asientan en esta constancia bajo protesta de decir verdad, apercibidos de la responsabilidad
                    | en que incurre todo aquel que no se conduce con verdad
            .jefes
                .instructor
                    p Intructor o tutor
                .patron
                    p Patr&oacute;n o representante legal
                .representante
                    p Representante de los trabajadores
            .firmas-imagen
                .firma-instructor
                    img(src='https://i.pinimg.com/736x/56/05/7c/56057c30fee4712c2deba44cd8fc72f2.jpg' alt='')
                .firma-patron
                    img(src='https://i.pinimg.com/736x/56/05/7c/56057c30fee4712c2deba44cd8fc72f2.jpg' alt='')
                .firma-representante
                    img(src='https://i.pinimg.com/736x/56/05/7c/56057c30fee4712c2deba44cd8fc72f2.jpg' alt='')
            .section-datos-firma
                .dato-instructor
                    h4 Salvador de Anda Rosas
                    .linea
                .dato-patron
                    h4 Jorge de Dios Morales
                    .linea
                .dato-representante
                    h4 Ricardo de Jes&uacute;s Garc&iacute;a Guerrero
                    .linea
            .section-nombre-firma
                .nombre-firma-instructor
                    p Nombre y firma
                .nombre-firma-patron
                    p Nombre y firma
                .nombre-firma-representante
                    p Nombre y firma
        // FIN SECCION DE FIRMAS
        // SECCIÓN INSTRUCCIONES
        .instrucciones
            h4 INSTRUCCIONES
            p - Llenar a m&aacute;quina o con letra de molde
            p
                | - Debera entregarse al trabajador dentro de los veinte dias h&aacute;biles siguientes al t&eacute;rmino del curso de
                | capacitaci&oacute;n aprobado.
            p
                | Las &aacute;reas y sub&aacute;reas ocupacionales del Cat&aacute;logo Nacional de Ocupaciones se encuentran disponibles en el
                | reverso de este formato y en la p&aacute;gina 
                a(href='https://www.gob.mx/stps/' target='_blank') www.stps.gob.mx
            p
                | Las &aacute;reas tem&aacute;ticas de los cursos se encuentran disponibles en el reverso de este formato en la p&aacute;gina 
                a(href='https://www.gob.mx/stps/' target='_blank') www.stps.gob.mx
            p
                | Cursos impartidos por el &aacute;rea competente de la Secretaria del Trabajo y Previsi&oacute;n Social.
            p
                | Para empresa con menos de 51 trabajadores. Para empresas con mas de 50 trabajadores firmar&iacute;a el
                | representante del patr&oacute;n ante la Comisi&oacute;n mixta de capacitaci&oacute;n, adiestramiento y productividad.
            p  Solo para empresas con m&aacute;s de 50 trabajadores.
            p * Dato no obligatorio.
        // FIN SECCION INSTRUCCIONES
